In [1]:
import os
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pyspark.sql.functions as F
import yaml

from pyspark.sql import SparkSession

while not Path("data") in Path(".").iterdir():
    os.chdir("..")

plt.style.use("seaborn-white")
conf_dict = yaml.safe_load(Path("config/dataprep.yaml").read_text())

spark = SparkSession.builder.getOrCreate()

22/05/30 19:16:41 WARN Utils: Your hostname, domvwt-XPS-13-9305 resolves to a loopback address: 127.0.1.1; using 192.168.0.24 instead (on interface wlp164s0)
22/05/30 19:16:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/05/30 19:16:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/30 19:16:42 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/05/30 19:16:42 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
def repartition(sdf):
    return (
        sdf
        .withColumn("partition", F.substring("statementID", -2, 2))
        .repartition("partition")   
    )

In [3]:
companies_df = repartition(spark.read.parquet(conf_dict["companies_interim"])).select(conf_dict["companies_cols"])
persons_df = repartition(spark.read.parquet(conf_dict["persons_interim"])).select(conf_dict["persons_cols"])
addresses_df = spark.read.parquet(conf_dict["addresses_interim"]).repartition(100)

In [140]:
filter_id = lambda id_ : f"statementID == '{id_}'"

## Relationships

In [138]:
relationships_df = repartition(
    spark.read.parquet(conf_dict["relationships_interim"])
).select(conf_dict["relationships_cols"])

relationships_df = (
    relationships_df.withColumn(
        "interestedPartyStatementID",
        F.coalesce(
            "interestedParty.describedByEntityStatement",
            "interestedParty.describedByPersonStatement",
        ),
    )
    .withColumn(
        "interestedPartyIsPerson",
        F.col("interestedParty.describedByPersonStatement").isNotNull(),
    )
    .withColumn("subjectStatementID", F.col("subject.describedByEntityStatement"))
    .select("*", F.explode("interests").alias("interestsExploded"))
    .select("*", "interestsExploded.*")
    .select("*", F.col("share.minimum").alias("minimumShare"))
    .filter(F.col("startDate").isNotNull())
    .filter(F.col("endDate").isNull())
    .filter(F.col("type") == "shareholding")
    .filter(F.col("details").endswith("percent"))
    .groupBy(
        "interestedPartyStatementID",
        "interestedPartyIsPerson",
        "subjectStatementID",
    )
    .agg(F.max("minimumShare").alias("minimumShare"))
)

In [139]:
relationships_df.show()

+--------------------------+-----------------------+--------------------+------------+
|interestedPartyStatementID|interestedPartyIsPerson|  subjectStatementID|minimumShare|
+--------------------------+-----------------------+--------------------+------------+
|      openownership-reg...|                   true|openownership-reg...|        25.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        25.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        25.0|
|      openownership-reg...|                   true|openownership-reg...|        25.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        25.0|
|      openownership-reg...|                   true|openownership-reg...|        50.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        25.0|
|      openownership-reg...|                   true|openownership-reg...|        25.0|
|      openownership-reg...|                  false|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        50.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
+--------------------------+-----------------------+--------------------+------------+
only showing top 20 rows

In [127]:
query_id = "openownership-register-8389244008015946645"

In [128]:
persons_df.filter(filter_id(query_id)).take(1)

[Row(addresses=[Row(address='Peter House, Oxford Street, Manchester, M1 5AN', country=None, type=None)], birthDate='1960-11-01', identifiers=[Row(id='/company/09073660/persons-with-significant-control/individual/miJk0_Iz1MxSspVDSLOdsIea9z8', scheme=None, schemeName='GB Persons Of Significant Control Register', uri=None), Row(id='http://register.openownership.org/entities/59b9cda867e4ebf340ccfc74', scheme=None, schemeName='OpenOwnership Register', uri='http://register.openownership.org/entities/59b9cda867e4ebf340ccfc74')], missingInfoReason=None, names=[Row(fullName='Donald Hugh Smith', type='individual')], nationalities=[Row(code='GB', name='United Kingdom of Great Britain and Northern Ireland')], statementID='openownership-register-8389244008015946645')]

In [129]:
relationships_df.filter(f"interestedPartyStatementID == '{query_id}'").dropDuplicates().show(truncate=False)

+-------------+------------------------------------------+-----------------------+-------------------------------------------+-------+----------+------------+-----------------+
|statementDate|interestedPartyStatementID                |interestedPartyIsPerson|subjectStatementID                         |endDate|startDate |type        |max(minimumShare)|
+-------------+------------------------------------------+-----------------------+-------------------------------------------+-------+----------+------------+-----------------+
|2016-06-06   |openownership-register-8389244008015946645|true                   |openownership-register-18123958185355667650|null   |2016-06-06|shareholding|50.0             |
+-------------+------------------------------------------+-----------------------+-------------------------------------------+-------+----------+------------+-----------------+

In [130]:
relationships_df.groupBy(F.col("startDate").isNull()).count().orderBy(F.desc("count")).show(truncate=0)

+-------------------+-------+
|(startDate IS NULL)|count  |
+-------------------+-------+
|false              |7416437|
+-------------------+-------+

In [131]:
relationship_counts = relationships_df.groupBy("interestedPartyStatementID", "interestedPartyIsPerson").count().sort(F.desc("count"))
relationship_counts.show(truncate=False)

+-------------------------------------------+-----------------------+-----+
|interestedPartyStatementID                 |interestedPartyIsPerson|count|
+-------------------------------------------+-----------------------+-----+
|openownership-register-15335012948911220969|false                  |1659 |
|openownership-register-5349204506857096345 |true                   |1311 |
|openownership-register-16449901526180129165|true                   |1171 |
|openownership-register-4885699358762453064 |false                  |1131 |
|openownership-register-996612036464718947  |true                   |760  |
|openownership-register-4241702842928979482 |true                   |720  |
|openownership-register-2286052163500911970 |false                  |681  |
|openownership-register-3956438078590756395 |true                   |617  |
|openownership-register-9103080704383038680 |false                  |526  |
|openownership-register-4513814456581281117 |false                  |503  |
|openownership-register-9198120535972248050 |false                  |459  |
|openownership-register-1320716789550535558 |false                  |455  |
|openownership-register-9647277692516486989 |false                  |430  |
|openownership-register-5102569172485776706 |true                   |423  |
|openownership-register-448606795629603864  |true                   |420  |
|openownership-register-5480565442211614480 |true                   |386  |
|openownership-register-9406555048551075655 |true                   |382  |
|openownership-register-1003557215557268619 |true                   |351  |
|openownership-register-10552996653559672357|false                  |349  |
|openownership-register-15417641470105668898|true                   |317  |
+-------------------------------------------+-----------------------+-----+
only showing top 20 rows

In [ ]:
relationship_counts.filter("count == 10 AND interestedPartyIsPerson").show(truncate=False)

+-------------------------------------------+-----------------------+-----+
|interestedPartyStatementID                 |interestedPartyIsPerson|count|
+-------------------------------------------+-----------------------+-----+
|openownership-register-3257107209837998303 |true                   |10   |
|openownership-register-11769433893356591601|true                   |10   |
|openownership-register-6265616255109065414 |true                   |10   |
|openownership-register-15368251881549564308|true                   |10   |
|openownership-register-5299651258949798128 |true                   |10   |
|openownership-register-13469635606482485026|true                   |10   |
|openownership-register-15171453100235327141|true                   |10   |
|openownership-register-17289159870146257517|true                   |10   |
|openownership-register-5902812732140731840 |true                   |10   |
|openownership-register-11764017702979503973|true                   |10   |
|openownership-register-6504868910311126867 |true                   |10   |
|openownership-register-1728000782240153807 |true                   |10   |
|openownership-register-3475506607133431681 |true                   |10   |
|openownership-register-1284297415056540296 |true                   |10   |
|openownership-register-3822545001211171610 |true                   |10   |
|openownership-register-18068053066268269210|true                   |10   |
|openownership-register-14646619859551545512|true                   |10   |
|openownership-register-15024654075699725856|true                   |10   |
|openownership-register-4332580716912550754 |true                   |10   |
|openownership-register-16424084619134959723|true                   |10   |
+-------------------------------------------+-----------------------+-----+
only showing top 20 rows

In [144]:
target_person_id = "openownership-register-11769433893356591601"
target_person_filter = F.col("interestedPartyStatementID") == target_person_id

In [145]:
relationships_df.filter(target_person_filter).show()

+--------------------------+-----------------------+--------------------+------------+
|interestedPartyStatementID|interestedPartyIsPerson|  subjectStatementID|minimumShare|
+--------------------------+-----------------------+--------------------+------------+
|      openownership-reg...|                   true|openownership-reg...|        25.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
|      openownership-reg...|                   true|openownership-reg...|        75.0|
+--------------------------+-----------------------+--------------------+------------+

## Companies

In [146]:
companies_df.count()

7246475

In [147]:
companies_df.printSchema()

root
 |-- addresses: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- address: string (nullable = true)
 |    |    |-- country: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- dissolutionDate: string (nullable = true)
 |-- foundingDate: string (nullable = true)
 |-- identifiers: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- scheme: string (nullable = true)
 |    |    |-- schemeName: string (nullable = true)
 |    |    |-- uri: string (nullable = true)
 |-- name: string (nullable = true)
 |-- statementID: string (nullable = true)

In [150]:
(companies_df.select("name", F.explode("identifiers").alias("identifiersExploded"))).select("col.").show()

+--------------------+--------------------+
|                name|                 col|
+--------------------+--------------------+
|PKAN SERVICES LIM...|{10649951, GB-COH...|
|PKAN SERVICES LIM...|{https://opencorp...|
|PKAN SERVICES LIM...|{http://register....|
|      NEUTEK LIMITED|{09460241, GB-COH...|
|      NEUTEK LIMITED|{https://opencorp...|
|      NEUTEK LIMITED|{http://register....|
|THE LEE RESIDENTS...|{03936630, GB-COH...|
|THE LEE RESIDENTS...|{https://opencorp...|
|THE LEE RESIDENTS...|{http://register....|
| J AND A JOINERY LTD|{SC559379, GB-COH...|
| J AND A JOINERY LTD|{https://opencorp...|
| J AND A JOINERY LTD|{http://register....|
|NDIDI ONYEAMA LIM...|{10650588, GB-COH...|
|NDIDI ONYEAMA LIM...|{https://opencorp...|
|NDIDI ONYEAMA LIM...|{http://register....|
|THE POVERTY ALLIANCE|{SC136689, GB-COH...|
|THE POVERTY ALLIANCE|{https://opencorp...|
|THE POVERTY ALLIANCE|{http://register....|
|   TECHIE PLEASE LTD|{10651103, GB-COH...|
|   TECHIE PLEASE LTD|{https://opencorp...|
+--------------------+--------------------+
only showing top 20 rows

In [9]:
companies_df.printSchema()

root
 |-- addresses: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- address: string (nullable = true)
 |    |    |-- country: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- birthDate: string (nullable = true)
 |-- dissolutionDate: string (nullable = true)
 |-- entityType: string (nullable = true)
 |-- foundingDate: string (nullable = true)
 |-- identifiers: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- scheme: string (nullable = true)
 |    |    |-- schemeName: string (nullable = true)
 |    |    |-- uri: string (nullable = true)
 |-- incorporatedInJurisdiction: struct (nullable = true)
 |    |-- code: string (nullable = true)
 |    |-- name: string (nullable = true)
 |-- interestedParty: struct (nullable = true)
 |    |-- describedByEntityStatement: string (nullable = true)
 |    |-- describedByPersonStatement: string (nullable = true)
 |    |-- unspecified: struct (nullable = true)
 |    |    |-- description: string (nullable = true)
 |    |    |-- reason: string (nullable = true)
 |-- interests: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- details: string (nullable = true)
 |    |    |-- endDate: string (nullable = true)
 |    |    |-- share: struct (nullable = true)
 |    |    |    |-- exact: double (nullable = true)
 |    |    |    |-- exclusiveMaximum: boolean (nullable = true)
 |    |    |    |-- exclusiveMinimum: boolean (nullable = true)
 |    |    |    |-- maximum: double (nullable = true)
 |    |    |    |-- minimum: double (nullable = true)
 |    |    |-- startDate: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- missingInfoReason: string (nullable = true)
 |-- name: string (nullable = true)
 |-- names: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- fullName: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- nationalities: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- code: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- personType: string (nullable = true)
 |-- source: struct (nullable = true)
 |    |-- description: string (nullable = true)
 |    |-- retrievedAt: string (nullable = true)
 |    |-- type: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- url: string (nullable = true)
 |-- statementDate: string (nullable = true)
 |-- statementID: string (nullable = true)
 |-- statementType: string (nullable = true)
 |-- subject: struct (nullable = true)
 |    |-- describedByEntityStatement: string (nullable = true)
 |-- partition: string (nullable = true)

In [10]:
companies_sample_pdf.dtypes

addresses                     object
birthDate                     object
dissolutionDate               object
entityType                    object
foundingDate                  object
identifiers                   object
incorporatedInJurisdiction    object
interestedParty               object
interests                     object
missingInfoReason             object
name                          object
names                         object
nationalities                 object
personType                    object
source                        object
statementDate                 object
statementID                   object
statementType                 object
subject                       object
partition                     object
dtype: object

In [11]:
companies_sample_pdf.describe().T

,count,unique,top,freq
addresses,9996,9026,"[(20-22 Wenlock Road, London, N1 7GU, GB, regi...",42
birthDate,0,0,NaN,NaN
dissolutionDate,3290,306,2018-01-02,103
entityType,10000,1,registeredEntity,10000
foundingDate,9981,4134,2018-03-26,38
identifiers,10000,10000,"[(10649951, GB-COH, Companies House, None), (h...",1
incorporatedInJurisdiction,10000,1,"(GB, United Kingdom of Great Britain and North...",10000
interestedParty,0,0,NaN,NaN
interests,0,0,NaN,NaN
missingInfoReason,0,0,NaN,NaN
name,9997,9997,PKAN SERVICES LIMITED,1
names,0,0,NaN,NaN
nationalities,0,0,NaN,NaN
personType,0,0,NaN,NaN
source,0,0,NaN,NaN
statementDate,0,0,NaN,NaN
statementID,10000,10000,openownership-register-2508976088309128407,1
statementType,10000,1,entityStatement,10000
subject,0,0,NaN,NaN
partition,10000,1,07,10000

In [12]:
companies_sample_pdf.head().T

,0,1,2,3,4
addresses,"[(Unit 19e Eley Road, Edmonton, London, N18 3B...","[(9 Wellington Gate, East Grinstead, RH19 3GE,...","[(3 The Lee, Northwood, Middlesex, HA6 3HT, GB...","[(First Floor Right 440 George Street, Aberdee...","[(Flat 4 Prudance House, 22 Smithsland Road, R..."
birthDate,None,None,None,None,None
dissolutionDate,None,None,None,2019-04-16,2018-08-07
entityType,registeredEntity,registeredEntity,registeredEntity,registeredEntity,registeredEntity
foundingDate,2017-03-03,2015-02-26,2000-02-24,2017-03-03,2017-03-03
identifiers,"[(10649951, GB-COH, Companies House, None), (h...","[(09460241, GB-COH, Companies House, None), (h...","[(03936630, GB-COH, Companies House, None), (h...","[(SC559379, GB-COH, Companies House, None), (h...","[(10650588, GB-COH, Companies House, None), (h..."
incorporatedInJurisdiction,"(GB, United Kingdom of Great Britain and North...","(GB, United Kingdom of Great Britain and North...","(GB, United Kingdom of Great Britain and North...","(GB, United Kingdom of Great Britain and North...","(GB, United Kingdom of Great Britain and North..."
interestedParty,None,None,None,None,None
interests,None,None,None,None,None
missingInfoReason,None,None,None,None,None
name,PKAN SERVICES LIMITED,NEUTEK LIMITED,THE LEE RESIDENTS ASSOCIATION LIMITED,J AND A JOINERY LTD,NDIDI ONYEAMA LIMITED
names,None,None,None,None,None
nationalities,None,None,None,None,None
personType,None,None,None,None,None
source,None,None,None,None,None
statementDate,None,None,None,None,None
statementID,openownership-register-2508976088309128407,openownership-register-6901719047608084907,openownership-register-6744078395322947207,openownership-register-17589281544616665207,openownership-register-11124909205401100807
statementType,entityStatement,entityStatement,entityStatement,entityStatement,entityStatement
subject,None,None,None,None,None
partition,07,07,07,07,07

In [13]:
companies_sample_pdf["identifiers"][0]

[Row(id='10649951', scheme='GB-COH', schemeName='Companies House', uri=None),
 Row(id='https://opencorporates.com/companies/gb/10649951', scheme=None, schemeName='OpenCorporates', uri='https://opencorporates.com/companies/gb/10649951'),
 Row(id='http://register.openownership.org/entities/59c5026967e4ebf34060b471', scheme=None, schemeName='OpenOwnership Register', uri='http://register.openownership.org/entities/59c5026967e4ebf34060b471')]

In [14]:
companies_sample_pdf["identifiers"][1]

[Row(id='09460241', scheme='GB-COH', schemeName='Companies House', uri=None),
 Row(id='https://opencorporates.com/companies/gb/09460241', scheme=None, schemeName='OpenCorporates', uri='https://opencorporates.com/companies/gb/09460241'),
 Row(id='http://register.openownership.org/entities/59c5026a67e4ebf34060b67a', scheme=None, schemeName='OpenOwnership Register', uri='http://register.openownership.org/entities/59c5026a67e4ebf34060b67a')]

In [15]:
companies_sample_pdf["incorporatedInJurisdiction"]

0       (GB, United Kingdom of Great Britain and North...
1       (GB, United Kingdom of Great Britain and North...
2       (GB, United Kingdom of Great Britain and North...
3       (GB, United Kingdom of Great Britain and North...
4       (GB, United Kingdom of Great Britain and North...
                              ...
9995    (GB, United Kingdom of Great Britain and North...
9996    (GB, United Kingdom of Great Britain and North...
9997    (GB, United Kingdom of Great Britain and North...
9998    (GB, United Kingdom of Great Britain and North...
9999    (GB, United Kingdom of Great Britain and North...
Name: incorporatedInJurisdiction, Length: 10000, dtype: object

One address per entity

In [18]:
companies_sample_pdf["addresses"].map(lambda x: len(x) if x else 0).max()

1

Many identifiers

In [19]:
companies_sample_pdf["identifiers"].map(lambda x: len(x) if x else 0).max()

762

In [20]:
keep_cols = [
    "addresses",
    "dissolutionDate",
    "foundingDate",
    "identifiers",
    # "incorporatedInJurisdiction",
    # "interestedParty",
    # "interests",
    # "missingInfoReason",
    "name",
    # "names",
    # "nationalities",
    # "personType",
    # "source",
    # "statementDate",
    "statementID",
    # "statementType",
    # "subject",
]

In [22]:
companies_df.select(keep_cols).write.parquet(conf_dict["companies_processed"])

22/05/25 22:38:04 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:04 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:05 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:05 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:05 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:05 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:05 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:07 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:07 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:07 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:07 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:08 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:08 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:08 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:08 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:08 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:08 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:10 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:10 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:10 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:10 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:10 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:10 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:10 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:10 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:12 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:12 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:12 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:12 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:12 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:12 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:12 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:12 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:12 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:12 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:13 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:14 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:38:17 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers

## Persons

In [29]:
persons_df.count()

7861347

In [33]:
persons_sample_pdf = persons_df.limit(10_000).toPandas()

In [34]:
persons_sample_pdf.describe().T

,count,unique,top,freq
addresses,10000,9505,"[(20-22, Wenlock Road, London, N1 7GU, GB, None)]",76
birthDate,9987,820,1974-07-01,34
dissolutionDate,0,0,NaN,NaN
entityType,0,0,NaN,NaN
foundingDate,0,0,NaN,NaN
identifiers,10000,9989,[],12
incorporatedInJurisdiction,0,0,NaN,NaN
interestedParty,0,0,NaN,NaN
interests,0,0,NaN,NaN
missingInfoReason,12,5,The company knows or has reasonable cause to b...,6
name,0,0,NaN,NaN
names,10000,9963,[],12
nationalities,8919,94,"[(GB, United Kingdom of Great Britain and Nort...",7529
personType,10000,3,knownPerson,9988
source,0,0,NaN,NaN
statementDate,0,0,NaN,NaN
statementID,10000,10000,openownership-register-10050885420207911607,1
statementType,10000,1,personStatement,10000
subject,0,0,NaN,NaN
partition,10000,1,07,10000

In [37]:
keep_cols = [
    "addresses",
    "birthDate",
    # "dissolutionDate",
    # "entityType",
    # "foundingDate",
    "identifiers",
    # "incorporatedInJurisdiction",
    # "interestedParty",
    # "interests",
    "missingInfoReason",
    # "name",
    "names",
    "nationalities",
    # "personType",
    # "source",
    # "statementDate",
    "statementID",
    # "statementType",
    # "subject",
    "partition",
]

In [38]:
persons_df.select(keep_cols).write.parquet(conf_dict["persons_processed"])

22/05/25 22:48:46 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:46 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:46 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:46 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:46 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:47 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:47 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:47 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:47 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:47 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:47 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:47 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:47 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:47 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:48 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:48 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:48 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:48 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:48 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:48 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:48 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:48 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:48 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:48 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:49 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:49 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:49 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:49 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:49 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:49 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:49 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:49 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:49 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:49 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:49 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:50 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:50 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:50 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:50 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:50 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:50 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:50 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:50 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:50 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:50 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:50 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:50 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:51 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:51 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:51 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:51 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:51 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:51 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:51 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:52 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:52 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:52 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:52 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:52 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:52 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:52 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:52 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:52 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:52 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:53 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:54 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:54 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:54 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:54 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:54 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:54 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:54 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:54 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:54 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:54 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:55 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:55 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:55 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:55 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:55 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:55 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:55 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:55 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:55 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:55 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:56 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:56 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:56 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:56 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:56 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:56 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:56 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:56 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:56 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:56 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:57 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:57 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:57 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:57 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:57 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:57 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers
22/05/25 22:48:57 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 85.68% for 8 writers
22/05/25 22:48:57 WARN MemoryManager: Total allocation exceeds 95.00% (919,941,928 bytes) of heap memory
Scaling row group sizes to 97.92% for 7 writers